<html>
  <head>
		<link type="text/css" rel="stylesheet" media="screen" href="/css/main.css"/>
		<link href="/css/facebox.css" media="screen" rel="stylesheet" type="text/css"/>
		<script type="text/javascript" src="/js/jquery-1.6.2.min.js"></script>
		<script type="text/javascript" src="/js/facebox.js"></script>
	</head>
  <body>
    <table>
        <tbody>
            <tr>
                <td>
                    <a href="/">Home</a
                </td>
            </tr>
        </tbody>
    </table>

    <%= yield %>
  </body>
</html>
