<html>
  <head>
		<link type="text/css" rel="stylesheet" media="screen" href="/css/main.css"/>
		<link type="text/css" rel="stylesheet" media="screen" href="/css/zebraStripe.css"/>
		<link href="/css/facebox.css" media="screen" rel="stylesheet" type="text/css"/>
		<script type="text/javascript" src="/js/jquery-1.6.2.min.js"></script>
		<script type="text/javascript" src="/js/facebox.js"></script>
		<script type="text/javascript" src="/js/zebraStripe.js"></script>
	</head>
  <body>
    <table>
        <tbody>
            <tr>
                <td>
	          <a href="/" style="background: transparent url(/images/home.png) no-repeat left center;padding-left: 38px;">HOME</a>
                </td>
            </tr>
        </tbody>
    </table>

    <%= yield %>

  </body>
</html>
